language: ruby
cache:
- bundler
install:
- bundle install
rvm:
- 2.1
- 2.2
- 2.3.0
- 2.4.1
notifications:
  email:
    recipients:
    - sensu-plugin@sensu-plugins.io
    on_success: change
    on_failure: always
script:
- bundle exec rake default
- gem build sensu-plugins-xen.gemspec
- gem install sensu-plugins-xen-*.gem
deploy:
  provider: rubygems
  api_key:
    secure: glNFAx+QBd9mrMeddEhxH2gyvfVHHlieg594v7H56a6y/CRgAfZqq/a3jkmdyS0HqHjFinRAJYgs9bUjtAeDKScOm0lu7ox4b5cPldXudb3h7WYaZk9/bO/I4MwlBE9oj8LSNwYAj2Vjo2JFZMmjUsubbQaSiXnw8fQ4G/JuUnM=
  gem: sensu-plugins-xen
  on:
    tags: true
    all_branches: true
    rvm: 2.4.1
    repo: sensu-plugins/sensu-plugins-xen
